<div class="logo">
  <LinkTo @route="application">
    <img src={{@logoPath}} alt="Fractaltx">
  </LinkTo>

  <BsButton @type="dark" class="menu-icon" onclick={{action "onMenuToggle"}}>
    <img src="/images/icons/menu-light.svg" alt="menu" class="menu-icon-img">
  </BsButton>
</div>

<ul class="menu-list" data-show={{menuCollapsed}}>
  {{#each @menus as |menu|}}
    <li 
      class="menu-item"
      data-active={{menu.active}}
      {{!-- onmouseover={{action "onMenuItemMouseOver" menu}}
      onmouseout={{action "onMenuItemMouseLeave" menu}} --}}
      data-path={{menu.path}}
      onclick={{action "onMenuItemClick" menu}}
    >
      {{#if menu.route}}
        {{!-- {{#if menu.param}} --}}
          <FT::ScrollLinkTo
            @path={{menu.path}}
            @route={{menu.route}}
            @param={{menu.param}}
          >
            {{menu.name}}
          </FT::ScrollLinkTo>
        {{!-- {{else}}
          <FT::ScrollLinkTo @path={{menu.path}} @route={{menu.route}}>{{menu.name}}</<FT::ScrollLinkTo>
        {{/if}} --}}
      {{else}}
        <a class="menu-item menu-item-dropdown dropdown-toggle" data-active={{menu.active}}>{{menu.name}}</a>
      {{/if}}

      {{#if menu.menus}}
        <ul class="sub-menu-list" data-active={{menu.active}}>
          {{#each menu.menus as |subMenu|}}
            <li class="sub-menu-item" onclick={{action "onMenuItemClick"}}>
              {{#if subMenu.param}}
                <FT::ScrollLinkTo
                  @path={{subMenu.path}}
                  @route={{subMenu.route}}
                  @param={{subMenu.param}}
                >
                  {{subMenu.name}}
                </FT::ScrollLinkTo>
              {{else}}
                <FT::ScrollLinkTo
                  @path={{subMenu.path}}
                  @route={{subMenu.route}}
                >
                  {{subMenu.name}}
                </FT::ScrollLinkTo>
              {{/if}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    </li>
  {{/each}}
</ul>
