<FT::Container>
  <div class="home-content">
    <div class="home-content-inner">
      {{#if @image}}
        <div class="home-content-image">
          <img src={{@image}} alt={{@title}}>
        </div>
      {{/if}}
      <h2 class="home-content-title">{{@title}}</h2>
      <div class="home-content-body">
        <div class="home-content-body-summary" data-expand={{expandContent}}>
          {{html-safe @body.summary}}
        </div>
        <div  class="home-content-body-full" data-expand={{expandContent}}>
          {{html-safe @body.full}}
        </div>
        <div class="home-content-body-button" onclick={{action "onExpandContentToggle"}}>
          <FT::ScrollLinkTo
            data-expand={{expandContent}}
            @path={{concat "/" anchor}}
            @route={{"routes.home-section"}}
            @param={{anchor}}
          >
            {{unless expandContent "Read More" "Collapse"}}
          </FT::ScrollLinkTo>
        </div>
      </div>
    </div>
  </div>
</FT::Container>