{{#if @caption}}
  <div class="ft-background-caption">
    <div class="ft-background-caption-inner">
      <div class="ft-background-caption-body">
        {{#if @caption.image}} 
          <div class="ft-background-caption-image">
            <img src={{@caption.image}} alt={{@caption.title}} >
          </div>
        {{/if}}
        <div class="ft-background-caption-content">
          <h3 class="ft-background-caption-title">{{@caption.title}}</h3>
          <p class="ft-background-caption-text">{{html-safe @caption.content}}</p>
          {{#if @caption.link}}
            <a class="ft-background-caption-link" href={{@caption.link.url}}>{{@caption.link.text}}</a>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}